//
//  Config.xcconfig
//  MASTestApp
//
//  Created by Charlie on 16.12.25.
//

// Configuration settings file format documentation can be found at:
// https://developer.apple.com/documentation/xcode/adding-a-build-configuration-file-to-your-project

#include "Local.xcconfig"

PRODUCT_BUNDLE_IDENTIFIER = $(inherited)
CODE_SIGN_STYLE = $(inherited)
DEVELOPMENT_TEAM = $(inherited)
IPHONEOS_DEPLOYMENT_TARGET = $(inherited)
